[Unit]
Description=QM: block external access to non-public docker ports
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/qm-firewall.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
